body {
  font-family: 'Roboto', arial, sans-serif;
}
a {
  color: #ccc;
}

/* Metric selector */
#metric-selector {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  height: 30px;
}
#metric-selector li {
  display: inline-block;
  padding: 5px;
  margin-left:2px;
  background-color: #F0F0F0;
  border-radius: 5px;
}
#metric-selector li:hover {
  cursor: pointer;
}

/* Charts headers */
#charts-header {
  margin: 0 0 3px 0;
}
#charts-header div {
  display: inline-block;
  background-color: #F0F0F0;
  width: 610px;
  padding: 10px;
  text-align: center;
}
#charts-header-left {
  margin-left: 253px;
}

/* Charts */
.chart-container {
  display:block;
  margin-bottom:10px;
}
.chart-title {
  vertical-align: top;
  display: inline-block;
  height: 150px;
  width: 250px;
  text-align: center;
  background-color: #F0F0F0;
}
.chart-title span {
  display: block;
  margin-top:50px;
  font-size:1.5em;
}
.chart {
  vertical-align: top;
  display: inline-block;
  height: 150px;
  width: 560px;
  margin: 0 0 0 3px;
  padding: 0 0 0 70px;
}
.background.bar {
  fill: #ccc;
}
.foreground.bar {
  fill: steelblue;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font: 10px sans-serif;
}
.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}
.brush .resize path {
  fill: #eee;
  stroke: #666;
}